---
title: Lorena Dumitrașcu
---

<section class="hero diagonal">
	<div class="container sitetitle">
		<h2 class="editable">A collection of stories.</h2>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container">
		<div>
			<h3 class="editable">Portfolio</h3>
			<p class="editable">PHOTOGRAPHS ON FILM.
A collection of stories. This is how I see the world around me. Different, Moving, Inspiring, photographs for personal books, projects and artistic events.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
			{% assign sorted = (site.projects | sort: 'location') %}
			{% for project in sorted limit: 6 %}
					<li>
						<a href="{{ site.baseurl }}{{ project.url }}">
							<img src="{% include relative-src.html src=project.featured.path %}">
							<div class="details">
								<div class="name">{{ project.name }}</div>
							</div>
						</a>
					</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</section>

<!--<section class="diagonal">-->
	<!--<div class="text-container">-->
		<!--<div>-->
			<!--<h3 class="editable">Latest blog posts</h3>-->
		<!--</div>-->
		<!--<div>-->
			<!--<ul class="blog-posts">-->
			<!--{% for post in site.posts limit: 4 %}-->
			<!--<li class="blog-post">{% include post-summary.html post=post read="not" %}</li>-->
			<!--{% endfor %}-->
			<!--</ul>-->
		<!--</div>-->
	<!--</div>-->
<!--</section>-->