---
title: Light Stories by Lorena Dumitrașcu
---

<section class="hero diagonal">
	<div class="container sitetitle">
		<h2 class="editable">Light Stories</h2>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container">
		<div>
			<h3 class="editable">Photographs on Film</h3>
		</div>
		<div>
			<ul class="image-grid">
			{% assign sorted = (site.projects | sort: 'location') %}
			{% for project in sorted limit: 4 %}
					<li>
						<a href="{{ site.baseurl }}{{ project.url }}">
							<img src="{% include relative-src.html src=project.cover.path %}">
							<div class="details">
								<div class="name">{{ project.name }}</div>
							</div>
						</a>
					</li>
			{% endfor %}
			</ul>
		</div>
		<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
	</div>
</section>

<section class="diagonal">
	<div class="text-container">
		<div>
			<h3 class="editable">Latest blog posts</h3>
		</div>
		<div>
			<ul class="blog-posts">
			{% for post in site.posts limit: 2 %}
			<li class="blog-post">{% include post-summary.html post=post read="not" %}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal patterned">
	<div class="text-container">
		<div>
			<h3 class="editable">Contact</h3>
			<p class="editable">Email: <a href="mailto:lorenadumitrascu@gmail.com">lorenadumitrascu@gmail.com</a></p>
			<p class="editable">Tel: <a href="+40757074054">+40 757 0740 54</a></p>
			<p class="editable"><a href="{{ site.baseurl }}/contact/">Contact Page &rarr;</a></p>
		</div>
	</div>
</section>