<link rel="dns-prefetch" href="//code.jquery.com">
<link rel="dns-prefetch" href="//s7.addthis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">

<link rel="prefetch" href="{{ site.url }}/">
<link rel="prefetch" href="{{ site.url }}/portfolio/">
<link rel="prefetch" href="{{ site.url }}/blog/">
<link rel="prefetch" href="{{ site.url }}/contact/">
<link rel="prefetch" href="{{ site.url }}/about/">

{% assign posts = site.projects %}
    {% for post in posts %}
        {% if post.cover %}
<link rel="prefetch" href="{{ post.cover.path | prepend: site.url }}"/>
        {% endif %}
{% endfor %}

{% assign posts = paginator.posts %}
    {% for post in posts limit: 10 %}
        {% if post.cover %}
<link rel="prefetch" href="{{ post.cover.path | prepend: site.url }}"/>
        {% else %}
<link rel="prefetch" href="{{ post.featured.path | prepend: site.url }}"/>
        {% endif %}
{% endfor %}

{% if page.layout == "post" %}
    {% for image in post.next.images %}
<link rel="prefetch" href="{{ image.path | prepend: site.url }}"/>
    {% endfor %}
    {% for image in post.previous.images %}
<link rel="prefetch" href="{{ image.path | prepend: site.url }}"/>
    {% endfor %}
{% endif %}

{% if page.title == "Blog" %}
    {% assign posts = paginator.posts %}
    {% for post in posts limit: 4 %}
        {% if post.images %}
        {% for image in post.images %}
<link rel="prefetch" href="{{ image.path | prepend: site.url }}"/>
        {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if page.title == "Portfolio" or page.layout == "project"%}
    {% assign posts = site.projects %}
    {% for post in posts %}
        {% if post.images %}
        {% for image in post.images %}
<link rel="prefetch" href="{{ image.path | prepend: site.url }}"/>
        {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}