---
layout: default
---
{% assign portfolio = site.pages | where: "path", "portfolio.html" | first %}

<section class="hero diagonal">
	<div class="container">
		{% if portfolio.heading %}
		<h2>{{ page.title | capitalize }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<p><img src="{% include relative-src.html src=page.image_path %}"></p>
		<div>
			{{ content }}
			{% if page.images %}
				{% for image in page.images %}
					{% include single-line-image.html image=image %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
